// Color
$color-primary: #333333;
$color-primary-light: #EEEEEE;
$color-secondary: #1782c4;
$color-white: #fff;
$color-black: #000;
// Font
$fs-0: 2.16rem;
$fs-1: 2.88rem;
$fs-2: 1.8rem;
$fs-3: 2.4rem;
// Padding

// Margin