.information__box {
    display: flex;

    @include respond(phone) {
        display: block;
        padding: 1rem;
    }

    .newspaper__box {
        width: 50%;
        padding: 0 2rem;

        @include respond(phone) {
            width: 100%;
        }

        .newspaper__header {
            font-size: $fs-2;
        }
    }

    .dog-api {
        width: 50%;
        height: 100%;
        padding: 3rem 1.5rem;

        @include respond(phone) {
            width: 100%;
        }

        .dog-api__box {
            background-color: $color-secondary;
            color: $color-white;
            padding: 3.6rem;

            .dog-api__header {
                font-size: $fs-3;
            }

            .nav-link {
                color: $color-white;
                border-bottom: none;

                &:hover {
                    color: $color-white;
                }
            }

            .dog-icon__box {
                height: 54px;

                i {
                    height: 100%;
                    width: auto;
                }
            }
        }

    }

}