body {
    font-family: 'Karla', sans-serif;
    font-size: $fs-0;
    font-weight: 300;
    line-height: 3.8rem;
}

.nav-link {
    text-decoration: none;
    font-size: $fs-0;
    color: $color-primary;
    border-bottom: 2px solid $color-secondary;
    transition: all .5s;

    &:hover {
        border-bottom: none;
        color: $color-secondary;
    }
}